<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>

  <div class="columns">
    <!-- Sidebar -->
    <div class="column is-one-quarter is-narrow-mobile is-flex-mobile">
      <aside class="menu">
        <p class="menu-label">
          Dashboard
        </p>
        <ul class="menu-list">
          <li><a href="/">Home</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </aside>
    </div>    
  </div>

</body>
</html>
