<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<style>
    .menu {
      display: none;
    }
    .menu.active {
      display: block;
    }
  </style>
<body>
      <button onclick="displaySideBar()" class="menu-label" id="btnSidebar" >
          Menu
      </button>
  <div class="columns">
     
    <div class="column is-one-quarter is-narrow-mobile is-flex-mobile">
      <aside class="menu">
       
        <ul class="menu-list">
          <li><a href="/login-User">Home</a></li>
          <li><a href="/Create-new-Post">Create_message</a></li>
          <li><a href="/view-post/messages">view messages</a></li>
          <li><a href="/log-out">Log out</a></li>
        </ul>
      </aside>
    </div>    
  </div>

  <script>
    function displaySideBar() {
      const sidebar = document.querySelector('.menu');
      sidebar.classList.toggle('active');
    }
  </script>
</body>
</html>
