<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    <form action="/Create-new-Post" method="post">
      <label for="title">Title</label><br><br>
      <input type="text" name="title" id="title" ><br><br>

      <label for="content">Content</label><br><br>
      <input type="text" name="content" id="content"><br><br>

      <button type="submit">Send</button>
    </form>
</body>
</html>