<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body class="has-background-white-ter	">
  <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center " style="height: 100vh; ">

    <h1 class="title is-1">Hello, Anonymous User</h1><br>
    <p class="subtitle is-5">Log in to explore and create new anonymous post</p><br>
    
    <button class="button is-dark"><a class="has-text-light" href="/log-in">Login </a></button>
  </div>   
     
</body>
</html>