<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
    <form action="/log-in" method="post">
      <label for="email" >Email</label><br>
      <input type="email" name="email" placeholder="Email" id="email"> <br><br>

      <label for="password" >password</label><br>
      <input type="password" name="password" placeholder="password" id="email"><br><br>

      <button>login</button>

      <p>Not registered yet?</p> <button><a href="/sing-up">Singup</a></button>
    </form>
</body>
</html>