<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>User</title>
</head>
<body>
<div class="is is-flex is-justify-content-space-evenly		 ">
    <div>
      <%- include('./partials/sidebar') %>
    </div>  
    <div>
        <% if (locals.user) {%>
        <h1>Hello, <%= user.first_name %> <%= user.last_name %> </h1>
        <p>Explore the latest anonymous posts from our community</p>
      <% } else { %>
        <%}%>

        <button><a href="/Create-new-Post">Ceate new post</a></button>
        <button><a href="/view-post/Messages">View Posts</a></button>
    </div>
</div>
</body>
</html>