<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <form action="/log-in" method="post">
    <label for="email">Email:</label><br>
    <input type="text" name="email" placeholder="Email" id="email"><br><br>

    <label for="password">Password:</label><br>
    <input type="password" name="password" placeholder="Password" id="password"><br><br>

    <button>Login</button>
  </form>

  <p>Not registered yet?</p>
  <a href="/sing-up">Sign Up</a>
</body>
</html>
